.container{

	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	 align-content:stretch;
	width: 86%;
	height: auto;
	margin-top:50px;
	margin-left:8%;
}

.card{
	
	height: 300px;
	margin-left:10px;
	margin-right: 10px;
	margin-bottom: 20px;
	background: black;

}
.art{
	height:100%;
}
.hidden{
  width:90%;

  height: auto;
  display: none;
}
.hidden_art{
width:50%;
}
.hidden_h{
  position: absolute;
  left:55%;
  top:5%;
  margin-top:0;
  font-size: 100px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.hidden_p{
   position: absolute;
  left:55%;
  top:30%;
  font-size: 32px;
  font-family: "Playfair Display", serif;
  font-weight: 400;