.cards{
  margin-top:50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.art{
  height:550px;
   margin:0px 5px 10px 5px;
  width:385px;
  height: 500px;
  overflow:hidden;
  object-fit: cover;
  background: black;
  z-index: 0;
transition: 0.5s}

.hidden{
  width:90%;

  height: auto;
  display: none;
}
.hidden_art{
width:50%;
}
.hidden_h{
  position: absolute;
  left:55%;
  top:5%;
  margin-top:0;
  font-size: 100px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.hidden_p{
   position: absolute;
  left:55%;
  top:30%;
  font-size: 32px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
}